*{
    box-sizing: border-box;
}

.news-box-container .h6-col{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 450;
    color: rgba(0, 0, 0, 0.7);
}

.news-box-container p{
    line-height: 3rem;
    color: gray;
}

/* .footer-container  */
.footer-container{
    background-color: black;
    height: 80vh;
}
/* closed */

@media screen and (max-width: 767px){
     /* .footer-container */
     .footer-container{
        height: auto;
        text-align: center;
    }
    /* closed */
}